{% extends 'base.html' %}
{% load static %}
{% block 'head' %}
    <link rel="stylesheet" href="{% static 'autenticacao/css/css.css' %}">
{% endblock %}
{% block 'titulo' %}Recuperar Senha{% endblock %}
{% block 'body' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 sidebar">
                <div class="logo_sidebar">
                    <h2 class="logo">
                        <img class="img_logo_sidebar" src="{% static 'autenticacao/img/medico_logo.png' %}">
                        <img class="img_logo_sidebar segunda_logo" src="{% static 'autenticacao/img/logomedico.png' %}">
                    </h2>
                </div>
            </div>
            <div class="col-md-9">
                <div class="area_cadastrar">
                    {% if messages %}
                        <br>
                        {% for message in messages %}
                            <div class="alert {{message.tags}}">
                                {{message}}
                            </div>
                        {% endfor %}
                    {% endif %}
                        <h2><span class="bold">Recuperar Senha</span></h2>
                        <p>Digite seu e-mail e enviaremos instruções para redefinir sua senha.</p>
                        
                        <br>
                    
        
                    <form method="post"> {% csrf_token %}
                    {{ form.email.label_tag }}
                    <input class="form-control input-form" placeholder="Digite seu email..."{{ form.email }}
                    <br>
                    <br>
                    <div style ="display: none;">
                    </div>
                    <button  type="submit" class="btn-first">Enviar</button>
                    <h3 style="position: absolute; bottom: 65px; font-weight: bold">Voltar para Logar ?&nbsp <a href="{% url 'logar' %}" class="btn btn-outline-success btn-lg">Voltar</a></h3>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}