{% extends 'base.html' %}
{% load static %}
{% block 'head' %}
    <link rel="stylesheet" href="{% static 'autenticacao/css/css.css' %}">
{% endblock %}
{% block 'titulo' %}Recuperar Senha - Email Enviado{% endblock %}
{% block 'body' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 sidebar">
                <div class="logo_sidebar">
                    <h2 class="logo">
                        <img class="img_logo_sidebar" src="{% static 'autenticacao/img/medico_logo.png' %}">
                        <img class="img_logo_sidebar segunda_logo" src="{% static 'autenticacao/img/logomedico.png' %}">
                    </h2>
                </div>
            </div>
            <div class="col-md-9">
                <div class="area_cadastrar">
                    {% if messages %}
                        <br>
                        {% for message in messages %}
                            <div class="alert {{message.tags}}">
                                {{message}}
                            </div>
                        {% endfor %}
                    {% endif %}
                        </div>
                        <h1>Verifique seu e-mail</h1>
                            <p>Se existir uma conta com o e-mail fornecido, você receberá um link para redefinir sua senha.</p>
                            <h3 style="position: absolute; bottom: 65px; font-weight: bold">Voltar para Logar ?&nbsp <a href="{% url 'logar' %}" class="btn btn-outline-success btn-lg">Voltar</a></h3>
                    </div>      
                </div>
                
            </div>           


    
{% endblock %}

