{% extends 'base_prontuario.html' %}
<!--{% load static %}-->

{% block 'body' %}
    {% if messages %}
        <br>
        {% for message in messages %}
            <div class="alert {{message.tags}}">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}

<!-- detalhes_paciente.html -->
<div class="container mt-4">
    <!-- Cabeçalho Institucional -->
    <div class="border-bottom pb-3 mb-4">
        <h3 class="text-center">{{perfil.nomeclinica}} - Dados Clínicos</h3>
        <div class="d-flex justify-content-between">
            <div>
               <strong> Nome:</strong> {{ paciente.nome }}<br>
                <strong>Data Nascimento:</strong> {{ paciente.datanascimento }}<br>
                <strong>CPF:</strong> {{ paciente.cpf }}
            </div>
            {% if perfil %}
            <div class="mb-3">
                 <div>
                    <strong>Medico:</strong> {{ perfil.nome_completo }}<br>
                    <strong>CPF:</strong> {{ perfil.cpf }}<br>
                    <strong>Crefito:</strong> {{ perfil.crefito }}
                </div>
            </div>
            {% if perfil.logotipo %}
                <img src="{{ perfil.logotipo.url }}" height="80" class="mb-2">
            {% endif %}
            {% endif %}
        </div>
    </div>

    <button class="btn btn-success no-print" onclick="window.print()">
        🖨️ Imprimir
    </button>
    
    <br>
    <h2>Dados do Paciente</h2> 
    
    <div>
        <!-- Primeira tabela -->
        <table class="table table-striped tabela-impressao-dados">
            <thead>
                <tr>
                    <th scope="col" class="col-data-impressao">Data</th>
                    <th scope="col" class="col-peso-impressao">Peso</th>
                    <th scope="col" class="col-qp-impressao">QP</th>
                    <th scope="col" class="col-hma-impressao">HMA</th>
                    <th scope="col" class="col-hpp-impressao">HPP</th>
                </tr>
            </thead>
            <tbody>
                {% for dado in dados_paciente %}
                <tr>
                    <td class="col-data-impressao">{{dado.data|date:"d/m/Y"}}</td>
                    <td class="col-peso-impressao">{{dado.peso}}Kg</td>
                    <td class="col-qp-impressao conteudo-quebravel-impressao">{{dado.qp}}</td>
                    <td class="col-hma-impressao conteudo-quebravel-impressao">{{dado.hma}}</td>
                    <td class="col-hpp-impressao conteudo-quebravel-impressao">{{dado.hpp}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <!-- Segunda tabela -->
        <table class="table table-striped tabela-impressao-dados">
            <thead>
                <tr>
                    <th scope="col" class="col-data-impressao">Data</th>
                    <th scope="col" class="col-exame-fisico-impressao">Exames físicos</th>
                    <th scope="col" class="col-exame-complementar-impressao">Exames Complementares</th>
                    <th scope="col" class="col-diagnostico-impressao">Diagnostico</th>
                    <th scope="col" class="col-plano-terapeutico-impressao">Plano Terapeutico</th>
                </tr>
            </thead>
            <tbody>
                {% for dado in dados_paciente %}
                <tr>
                    <td class="col-data-impressao">{{dado.data|date:"d/m/Y"}}</td>
                    <td class="col-exame-fisico-impressao conteudo-quebravel-impressao">{{dado.exame_fisico}}</td>
                    <td class="col-exame-complementar-impressao conteudo-quebravel-impressao">{{dado.exames_complementares}}</td>
                    <td class="col-diagnostico-impressao conteudo-quebravel-impressao">{{dado.diagnostico}}</td>
                    <td class="col-plano-terapeutico-impressao conteudo-quebravel-impressao">{{dado.plano_terapeutico}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    
        <p>Data de Impressão: {{ today }}</p>
      
        <div class="footer-print">
            <div class="assinatura">
                <div class="linha-assinatura"></div>
                <div class="mt-1">
                    Assinatura e Carimbo do Profissional
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}