{% extends 'base_prontuario.html' %}
{% load static %}
{% block 'prontuario' %}
    {% if messages %}
        <br>
        
        {% for message in messages %}
            <div class="alert {{message.tags}}">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    <div class="col-md-8" style="width: 80%; margin: auto;">
        <div class="container mt-4">
            <!-- Cabeçalho Institucional -->
                <div class="container mt-4">
                    <h2>Editar Perfil Profissional</h2>
                    <form method="post" enctype="multipart/form-data"> {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Salvar</button>
                        <!--<input type="submit" class="btn btn-success btn-lg" value="Salvar">-->
                    </form>
                </div>
            
        </div>
    </div>
{% endblock %}
